/* Default Stuff =============================================================================================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    color:#000;
    position: relative;
}

#animation-section>* {
    font-size:42px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    animation-duration: 2s;
    animation-fill-mode: forwards;

    position: absolute;
    left: 40%;
    top:30vh;

    visibility: hidden;    
}


/* Animation Stuff =============================================================================================== */

#test-animation-element{
    animation-delay: 0s;
    animation-name: animationTest;
}
    

/* Test Animation before adding to actual keyframe*/
@keyframes animationTest {
    
}


/* Keyframes ================================== */

@keyframes animation-element-keyframe-number-1 {
    0% {
        visibility:visible;  
        transform: translateY(-200vh);
    }
    
    20% {
        transform: translateY(0) rotate(30deg);
    }

    40% {
        transform: scale(3) rotate(60deg);
    }

    60% {
        transform: rotateX(180deg) scale(1);
    }

    70% {
       transform: scale(0.5) rotateX(360deg);
    }

    80% {
        transform: scale(2);
     }

    100% {
        transform: translateY(200vh) scale(0);
    }
}

@keyframes animation-element-keyframe-number-2 {
    0% {
        visibility:visible;
    }

    50% {
        transform: rotateX(360deg) scale(2);
    }

    100% {
        transform: translateX(2000px) scale(0);
        visibility:hidden;
    }
}

@keyframes animation-element-keyframe-number-3 {
    0% {
        visibility:visible;
    }

    25% {
        transform: scale(2) rotate(360deg);
    }

    50% {
        transform: translateX(200px) scale(0.25);
    }

    75% {
        transform: translateX(200px) translateY(-100px) scale(1.25);
    }

    100% {
        transform: translateX(2000px) translateY(-100px)  scale(0);
        visibility:hidden;
    }
}

@keyframes animation-element-keyframe-number-4 {
    0% {
        visibility:visible;
    }

    25% {
        transform: rotate(90deg) scaleX(1.5);
        color: aqua;
    }

    50% {
        transform: rotate(180deg) scaleX(1.5) scaleY(2);
        color:purple;
    }

    75% {
        transform:rotate(270deg) scaleX(2.5) scaleY(2);
        color:darkorange;
    }

    99% {
        transform: rotate(360deg) scaleX(2.5) scaleY(2.5);
        color:blue;
    }

    100% {
        transform: scale(0);
    }
}

@keyframes animation-element-keyframe-number-5 {
    0% {
        visibility:visible;
    }

    25% {
        transform: translateY(100px) scale(2);
    }

    50% {
        transform: translateY(-100px) scale(0.5);
    }

    75% {
        transform: translateY(200px) scale(3);
    }

    100% {
        transform: translateY(-200px) scale(0);
    }
}

@keyframes animation-element-keyframe-number-6 {
    0% {
        visibility:visible;
        
    }

    25% {
        transform: translateX(200px) translateY(0) scale(2);
    }

    50% {
        transform: translateX(200px) translateY(200px) scale(0.5);
    }

    75% {
        transform: translateX(-200px) translateY(200px) scale(3);
    }

    100% {
        transform: translateX(-200px) translateY(0) scale(0);
    }
}

@keyframes animation-element-keyframe-number-7 {
    0% {
        visibility:visible;  
    }

    25% {
        transform: scale(3);
    }

    50% {
        transform: scale(3) rotateX(180deg);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    75% {
        transform: scale(1) rotateX(360deg);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: blueviolet;
    }

    100% {
        transform: translateX(-200px) translateY(0) scale(0);
        color: blueviolet;
    }
}

@keyframes animation-element-keyframe-number-8 {
    
}

@keyframes animation-element-keyframe-number-9 {
    
}

@keyframes animation-element-keyframe-number-10 {
    
}

@keyframes animation-element-keyframe-number-11 {
    
}

@keyframes animation-element-keyframe-number-12 {
    
}

@keyframes animation-element-keyframe-number-13 {
    
}

@keyframes animation-element-keyframe-number-14 {
    
}

@keyframes animation-element-keyframe-number-15 {
    
}

@keyframes animation-element-keyframe-number-16 {
    
}

@keyframes animation-element-keyframe-number-17 {
    
}

@keyframes animation-element-keyframe-number-18 {
    
}

@keyframes animation-element-keyframe-number-19 {
    
}

@keyframes animation-element-keyframe-number-20 {
    
}

@keyframes animation-element-keyframe-number-21 {
    
}

@keyframes animation-element-keyframe-number-22 {
    
}

@keyframes animation-element-keyframe-number-23 {
    
}

@keyframes animation-element-keyframe-number-24 {
    
}

@keyframes animation-element-keyframe-number-25 {
    
}

@keyframes animation-element-keyframe-number-26 {
    
}

@keyframes animation-element-keyframe-number-27 {
    
}

@keyframes animation-element-keyframe-number-28 {
    
}

@keyframes animation-element-keyframe-number-29 {
    
}

@keyframes animation-element-keyframe-number-30 {
    
}