/* Default Stuff =============================================================================================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff!important;
    color:#000!important;
    position: relative;
}

#animation-section>* {
    font-size:42px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

    animation-duration: 3s;
    animation-fill-mode: forwards;

    position: absolute;

    visibility: hidden;    
}


/* Animation Stuff =============================================================================================== */

#test-animation-element{
    animation-delay: 0s;
    animation-name: animationTest;
}
    

/* Test Animation before adding to actual keyframe*/
@keyframes animationTest {
    0% {
        visibility:visible;
        
    }
    
    20% {

    }

    40% {
        
    }

    60% {
        
    }

    80% {
        
    }

    100% {
        visibility:hidden;
    }
}


/* Keyframes ================================== */

@keyframes animation-element-keyframe-number-1 {
    0% {
        visibility:visible;
    }
    
    20% {

    }

    40% {
        
    }

    60% {
        
    }

    80% {
        
    }

    100% {
        visibility:hidden;
    }
    
}