/* Default Stuff =============================================================================================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffb6c1 ;
    color:#000;
    position: relative;
    overflow: hidden;
}

.shapes_animation_section {
    height: 25vh;
    display: flex;
    padding: 10px 0;
}

.shapes_animation_section > div {
    flex: 1;

    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    background-color: #e75480;
    margin:0 3%;

    animation-name: animation_shapes;
    animation-duration: 0.65s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

.shapes_animation_section > div:nth-of-type(2n) {
    animation-direction: alternate-reverse!important;   
}


#happy_birthday_nikku {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#happy_birthday_nikku h1 {
    font-size:calc(4.5vw + 4.5vh);
    color: #fff;
    text-shadow: 0px 0px 5px #000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-variant-caps: all-petite-caps;

    animation-name: animation_text;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

@keyframes animation_shapes{
    0%{
        transform: scale(0.5);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes animation_text {
    0%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(1);
    }
}